@{
    Layout = "~/Views/Shared/_LayoutExterno.cshtml";
}

@model CasoPractico1.Models.Usuario

<h4 class="text-center">Iniciar Sesión</h4>
<hr />

@if (!string.IsNullOrEmpty(ViewData["ErrorMessage"] as string))
{
    <div class="alert alert-danger">@ViewData["ErrorMessage"]</div>
}

<form asp-action="Login" method="post">
    <div class="mb-3">
        <label class="form-label">Nombre de Usuario</label>
        <input type="text" class="form-control" asp-for="NombreUsuario" required />
    </div>

    <div class="mb-3">
        <label class="form-label">Contraseña</label>
        <input type="password" class="form-control" asp-for="Contrasena" required />
    </div>

    <div class="mt-4 text-center">
        <button type="submit" class="btn btn-primary w-100">Ingresar</button>
    </div>
</form>
